// CubeTimer main resource file

/////////////////////////////////////////////////////////////////////////////
// Includes
//
#include <Windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Icon
//
IDI_ICON1 ICON "CubeTimer.ico"

/////////////////////////////////////////////////////////////////////////////
// Dialog (INPUTDLG)
//
IDD_INPUTDLG DIALOGEX 0, 0, 187, 61
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Input"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Enter your input:",IDC_INPUTDLG_STATIC,7,7,172,8
    EDITTEXT        IDC_INPUTDLG_EDIT,7,20,172,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDC_INPUTDLG_OK,74,40,50,14
    PUSHBUTTON      "Cancel",IDC_INPUTDLG_CANCEL,130,40,50,14
END

/////////////////////////////////////////////////////////////////////////////
// Dialog (OPTIONDLG)
//
IDD_OPTIONDLG DIALOGEX 0, 0, 263, 244
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_SYSMENU
CAPTION "Options"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT      "타이머 크기 (px)",IDC_OPTIONDLG_STATIC1,24,18,55,8
    LTEXT      "기록 크기 (px)",IDC_OPTIONDLG_STATIC2,24,54,48,8
    EDITTEXT   IDC_OPTIONDLG_EDIT1,24,30,216,14,ES_AUTOHSCROLL
    EDITTEXT   IDC_OPTIONDLG_EDIT2,24,66,216,14,ES_AUTOHSCROLL
    LTEXT      "타이머 종류",IDC_OPTIONDLG_STATIC3,24,90,40,8
    COMBOBOX   IDC_OPTIONDLG_COMBO,24,102,216,200,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "OK",IDC_OPTIONDLG_OK,152,223,50,14
    PUSHBUTTON "Cancel",IDC_OPTIONDLG_CANCEL,207,223,50,14
END
